a {
  text-decoration: none;
  color: black;
}

ul {
  list-style-type: none;
}

.active {
  color: #2c9fff;
}

.content-wrapper {
  min-height: 100vh;
  width: 100%;
}
.navbar {
  position: sticky;
  top: 0;
  height: 100vh;
  overflow-y: auto;
}
