.App {
  display: flex;
  flex-wrap: wrap;
}

nav {
  width: 20%;
  position: fixed;
}

main {
  width: 80%;
  margin-left: 20%;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style-type: none;
}

.active {
  color: blue;
}

.mainListItem {
  padding-left: 0;
  margin: 0;
}

.subListItem {
  padding-left: 20px;
}
